<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    a.active{
        font-size: 18px;
        font-weight: bold;
    }
    .heading{
        padding: 10px;
        background-color: black;
        color: white;
        border-radius: 20px;
    }
    #success{
    background:#03a679;
    color:#f0f0f0;  
    }

    #failure{
    background:#ff3939;
    color:#f0f0f0;  
    }

    .notify{  
    /* position:absolute; */
    top:0px;
    width:100%;
    height:0;  
    box-sizing:border-box;
    color:white;  
    text-align:center;
    background:rgba(0,0,0,.6);
    overflow:hidden;
    box-sizing:border-box;
    transition:height .5s;
    }

    #notifyType:before{
    display:block;
    margin-top:15px; 
    
    }

    .activeBanner{  
    height:50px;
    }

    .success:before{
    Content:"Aww Yeaaaaa! Success!";
    }

    .login:before{
    Content:"please login !";
    }
    .like-it:before{
    Content:"please login to like !";
    }
    .create-blog:before{
    Content:"please login to create your own blogs !";
    }
    .create-short:before{
    Content:"please login to create your own shorts !";
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="color: white;position: sticky;top:0;z-index:1000">
    <div class="container-fluid" style="font-size: 18px;">
        <a class="navbar-brand heading" style="color: white;" href="/">
            My Logger
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hahaNav" aria-controls="hahaNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="hahaNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link <%= blogs %>" href="/articles">Blogs</a>
            </li>
            <%if (userName != "guest" ) {%> 
                <li class="nav-item">
                    <a class="nav-link <%= newblogs %>" href="/articles/new">create Blog</a>
                </li>
            <%}else{%>
                <li class="nav-item" onclick="popUpMsg('create-blog')">
                    <span class="nav-link">create Blog</span>
                </li>
            <%}%>
            <li class="nav-item">
                <a class="nav-link <%= shortstab %>" href="/shorts">Shorts</a>
            </li>
            <%if (userName != "guest" ) {%> 
                <li class="nav-item">
                    <a class="nav-link <%= newshorts %>" href="/shorts/new">create shorts</a>
                </li>
            <%}else{%>
                <li class="nav-item">
                    <span class="nav-link" onclick="popUpMsg('create-short')">create shorts</span>
                </li>
            <%}%>
        </ul>
        <div class="nav-item dropdown" style="margin-left: auto;">
            <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src=" <%=userPicture %>" class="avatar" alt="Avatar" width=40 height=40 style="border-radius: 20px;">
                <%= userName %>
                  <b class="caret"></b>
            </a>
            <ul class="dropdown-menu collapse" aria-labelledby="navbarDropdown" id="navbarDropdown">
                <%if (userName == "guest" ) {%> 
                    <li><a href="/about" class="dropdown-item"> About</a></li>
                    <li><a href="/settings" class="dropdown-item">Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="/login" class="dropdown-item">Login</a></li>
                <%}else{%>
                    <li><a href="/profile" class="dropdown-item">Profile</a></li>
                    <li><a href="/settings" class="dropdown-item"> Settings</a></li>
                    <li><a href="/logout" class="dropdown-item"> Logout</a></li>
                 <%}%>
            </ul>
        </div>   
        </div>
    </div>
</nav>
<div class="notify">
    <span id="notifyType" class="">
    </span>
</div>
<script>
    function popUpMsg(type){
        var notify = document.querySelector(".notify");
        notify.classList.add("activeBanner");
        var notifyType = document.querySelector("#notifyType");
        notifyType.setAttribute("class",type);
        setTimeout(function(){
            notify.classList.remove("activeBanner");
            notifyType.setAttribute("class","");
        },2000)
    }
</script>